<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
    <div class="front">
        <div class="front_info">
            <h2>Question And Answer Paragraph</h2>
            <p>Provide the Paragraph as a Text. From these text using Cohere API we will generate Question and Answer using the generate cohere endpoint. To make the better interaction or the user interest reamined we have used stable diffusion to generate the image of question and answer.</p>
        </div>
        <div>
            <img src="https://static.wixstatic.com/media/bc42ba_8bcfd5fac5d340fca0f17eb02fa74d0a~mv2.png/v1/fill/w_414,h_414,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bc42ba_8bcfd5fac5d340fca0f17eb02fa74d0a~mv2.png"
                alt="" style="width:331px;height:331px;object-fit:cover"
                srcset="https://static.wixstatic.com/media/bc42ba_8bcfd5fac5d340fca0f17eb02fa74d0a~mv2.png/v1/fill/w_414,h_414,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bc42ba_8bcfd5fac5d340fca0f17eb02fa74d0a~mv2.png"
                fetchpriority="high">
        </div>
    </div>
    <div class="para">
        <h1>Paragraph Input</h1> 
        <form action="{{ url_for('qa')}}" class="search-bar">
            <input id="textInput" class="input scroll" type="text" name="para">
            <button id="submit" class="submit" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>










